@value makerGreen from '../../common/colors.css';

.editor {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
}

.title {
  color: makerGreen;
  margin-bottom: 1em;
}
