@value makerGreen, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: makerGreen;
}

.logo {
  margin-top: 1em;
}

.title {
  color: makerWhite;
}

img {
  width: 3em;
}

.logout {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 0.5em;
  outline: 0;
  background-color: transparent;
  border: 2px solid makerWhite;
  border-radius: 2em;
  cursor: pointer;
}

.logout:hover {
  background-color: makerWhite;
}
