@value makerGreen, makerWhite from '../../common/colors.css';
.footer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  color: makerWhite;
  background-color: makerGreen;
}
