@value makerGreen, makerWhite, makerBlack, makerLightPink from '../../common/colors.css';

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

.loginButton {
  width: 95%;
  height: 2em;
  outline: 0;
  margin: 0.1rem;
  background-color: transparent;
  border: 2px solid makerGreen;
  border-radius: 10px;
}

button:hover {
  background-color: makerLightPink;
}

.login {
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: makerWhite;
}

.middle {
  width: 100%;
  text-align: center;
}

.middleTitle {
  color: makerBlack;
}
